<div class="table-container">
  <h1 style="text-align: center; color: green;">USER LIST</h1>
  <table class="table">
      <tr>
          <th>S.N</th>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Active</th>
          <th>Role</th>
          <th>Wallet Amount</th>
      </tr>
      <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.number }}</td>
          <td>{{ user.active }}</td>
          <td>{{ user.role }}</td>
          <td>
              <div *ngIf="active">
                  <button (click)="chek()"> Check</button>
              </div>
              <div *ngIf="!active">
                  {{amount}}
              </div>
          </td>
      </tr>
  </table>
</div>
