<div class="body">
    <div class="main">

        <div class="head">
            <div class="col">
                <div class="row1">
                    <div class="logo">
                        <img src="../../../assets/images/uchar-removebg-preview.png" width="100px" height="100px">
                    </div>
                    <div class="bname">
                        <span style="text-transform: uppercase;color: green; font-size: 20px;">Uphar Mobile <br> finance
                            service</span> <br>
                        <span>Finance Solutions</span>
                    </div>
                </div>
                <hr class="line-left">
            </div>
            <div class="col">
                <div class="cont">
                    <span> Uttar Pradesh</span>
                    <br>
                    <span>Shahjhanpur</span>
                    <br>
                    <span>Kant pincode:242001</span>
                </div>
                <hr class="line">
            </div>
        </div>

        <div class="content">
            <div class="info">
                <p>Customer Name: &nbsp; {{deviceData.customerName ||'NA'}}
                </p>
                <div class="lineunder">
                    <hr>
                </div>
                <!-- <hr class="underline"> -->
                <p>Customer Number:&nbsp;{{deviceData.customerNumber ||'NA'}}</p>
                <div class="lineunder">
                    <hr>
                </div>
                <p>Mobile Brand And Model:&nbsp;{{deviceData.brandName ||'NA'}} &nbsp; {{deviceData.modelName ||'NA'}}</p>
                <div class="lineunder">
                    <hr>
                </div>
                <p>IMEI1:&nbsp;{{deviceData.imei1 ||'NA'}}</p>
                <div class="lineunder">
                    <hr>
                </div>
                <p>IMEI2:&nbsp;{{deviceData.imei2 ||'NA'}}</p>
                <div class="lineunder">
                    <hr>
                </div>
                <p>Installments:&nbsp;{{deviceData.emi ||'NA'}}</p>
                <div class="lineunder">
                    <hr>
                </div>
            </div>
            <div class="profile">
                <div class="card m-auto" style="width: 12rem; height:12rem;">
                    <img [src]="profile" class="card-img-top" width="250px" height="250px">
       
                  </div>
             
            </div>
        </div>


        <div class="termsConditon">
            <h1 style="text-align: center;">Terms Conditions</h1>
            <ul>
                <li>
                    <p style="font-size: 15px;">
                        किस्त हर महीने की नियत तारीख तक जमा की जानी चाहिए। / Installment has to be deposited by the due
                        date of every month.</p>
                </li>
                <li>
                    <p style=" font-size: 15px;">
                        निर्धारित तारीख के बाद जमा करने पर रुपये 500/- की विलंब शुल्क देना होगा। / Late fee of Rs 500/-
                        will have to be paid for
                        submission after the due date.</p>
                </li>

                <li>
                    <p style=" font-size: 15px;">
                        लगातार दो महीने की किस्त जमा न होने से मोबाइल वापस करना होगा। जिसका कोई भी मूल्य देय नहीं होगा।
                        Mobile will
                        have to be returned due to non-payment of installment for two consecutive months. of any value
                        will not be due.</p>
                </li>
                <li>
                    <p style=" font-size: 15px;">
                        जब मोबाइल चोरी, खो जाना या मोबाइल का खराब हो जाना हो, तो उपभोक्ता को किस्त का जिम्मेदार
                        होगा।।The buyer will be responsible for
                        the installment in case of mobile theft, loss or breakdown of the mobile.</p>
                </li>
                <li>
                    <p style=" font-size: 15px;">
                        उपरोक्त जानकारी सत्य है, मैं इसका पूरी जिम्मेदारी लेता हूं कि मैंने इसका पालन नहीं किया।/The
                        above information is
                        true, I take full responsibility for not following it.
                        Date Amount</p>
                </li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <th>EMI</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emi of installments">
                        <td>{{emi.installmentId ||'NA'}}</td>
                        <td>{{emi.dueDate ||'NA'}}</td>
                        <td>{{emi.amount ||'NA'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>

        <div class="sign">
            signature
        </div>
    </div>
</div>
