.row-self{
    display: flex;
    overflow: hidden;
    width: 100%;
}
.col-left{
width: 40%;
border: 1px solid black;
height: calc(100vh - 60px);
}
.col-right{
width: 60%;
border: 1px solid black;
overflow-y: auto;
}

.employeelist{
  width: 100%;
  overflow: auto;
  /* border: 1px solid green; */
}
   
.body {
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input, textarea,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
  
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  


  .transaction-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
  }
  
  .transaction-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media only screen and (max-width: 480px) {
  .row-self{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .col-left{
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    padding: 2px 2px;
    box-sizing: border-box;
  }
  .col-right{
    width: 100%;
    padding: 2px 5px;
  }
  .transaction-table{
    overflow: auto;
  }
  }