.main{
  height: 87vh;
  overflow-x: auto;
  overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  select:focus {
    outline: none;
    border-color: blue;
  }

  .otp{
    position: relative;
    left: 302px;
    bottom: 26px;
  }
  .verify{
    position: relative;
    left: 302px;
    bottom: 29px;
  }

  /* Styles for screens smaller than 600 pixels (typical for mobile devices) */
@media only screen and (max-width: 600px) {
  .otp{
    left: 65vw;
  }
  .verify{
    left: 65vw;
  }
}

  