<!-- <div class="filter">
    <div class="row1">
        <div class="date-inp">
            From :
            <input type="date">
        </div>
        <div class="date-inp">
            To :
            <input type="date">
        </div>
        <div class="number">

            <div class="text"> Customer Number :</div>
            <div class="inp-box">
                <input type="text">
            </div>
            <button class="btn-self">Search</button>
        </div>
    </div>
</div> -->

<div class="table-container" *ngIf="role =='admin' ">
    <table>
        <tr>
            <th>S.N</th>
            <th>Transaction Id</th>
            <th>Amount</th>
            <th>TYPE</th>
            <th>From</th>
            <th>To</th>
            <th>From opening</th>
            <th>From closing</th>
            <th>To opening</th>
            <th>To closing</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let transection of transectioData; let i = index" [ngClass]="{ 'bg-red': transection.senderId == number || transection.receverId == number, 'bg-green': transection.receverId == number }">
            <td>{{ i + 1 }}</td>
            <td>{{ transection.TransactionID }}</td>
            <td>{{ transection.amount }}</td>
            <td *ngIf="transection.senderId == number">Dr</td>
            <td *ngIf="transection.receverId == number">Cr</td>
            <td *ngIf="transection.senderId != number && transection.receverId != number">U2U</td> <!-- New condition -->
            <td>{{ transection.senderId }}</td>
            <td>{{ transection.receverId }}</td>
            <td>{{ transection.senderDetails.senderOpeningAmount }}</td>
            <td>{{ transection.senderDetails.senderCloseingAmount }}</td>
            <td>{{ transection.receverDetails.receverOpeningAmount }}</td>
            <td>{{ transection.receverDetails.receverCloseingAmount }}</td>
            <td>{{ transection.time }}</td>
            <td>{{ transection.date }}</td>
        </tr>
        <tr *ngFor="let transection of transectioData1; let i = index" [ngClass]="{ 'bg-red': transection.senderId == number || transection.receiverId == number, 'bg-green': transection.receiverId == number }">
            <td>{{ i + 1 }}</td>
            <td>{{ transection.TransactionID }}</td>
            <td>{{ transection.amount }}</td>
            <td *ngIf="transection.senderId == number">Dr</td>
            <td *ngIf="transection.receiverId == number">Cr</td>
            <td *ngIf="transection.senderId != number && transection.receiverId != number">U2U</td> <!-- New condition -->
            <td>{{ transection.senderId }}</td>
            <td>{{ transection.receiverId }}</td>
            <td>{{ transection.senderDetails.senderOpeningAmount }}</td>
            <td>{{ transection.senderDetails.senderClosingAmount }}</td>
            <td>{{ transection.receiverDetails.receiverOpeningAmount }}</td>
            <td>{{ transection.receiverDetails.receiverClosingAmount }}</td>
            <td>{{ transection.time }}</td>
            <td>{{ transection.date }}</td>
        </tr>
        
    </table>
</div>
<div class="table-container" *ngIf="role !=='admin' ">
    <table>
        <tr>
            <th>S.N</th>
            <th>Transaction Id</th>
            <th>Amount</th>
            <th>TYPE</th>
            <th>From</th>
            <th>To</th>
            <th>Opening</th>
            <th>Closing</th>
            <!-- <th>To opening</th>
            <th>To closing</th> -->
            <th>Time</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let transection of transectioData; let i = index"
            [ngClass]="{ 'bg-red': transection.senderId == number || transection.receverId == number, 'bg-green': transection.receverId == number }">
            <td>{{ i + 1 }}</td>
            <td>{{ transection.TransactionID }}</td>
            <td>{{ transection.amount }}</td>
            <td *ngIf="transection.senderId == number">Dr</td>
            <td *ngIf="transection.receverId == number">Cr</td>
            <td *ngIf="transection.senderId != number && transection.receverId != number">U2U</td>
            <!-- New condition -->
            <td>{{ transection.senderId }}</td>
            <td>{{ transection.receverId }}</td>
            <!-- <div >
                <td *ngIf="transection.senderId == number">{{ transection.openingBalance }}</td>
                <td *ngIf="transection.senderId == number">{{ transection.closingBalance }}</td>
            </div> -->

        
                <td>{{ transection.openingBalance }}</td>
                <td>{{ transection.closingBalance }}</td>
          


            <td>{{ transection.time }}</td>
            <td>{{ transection.date }}</td>
        </tr>

    </table>
</div>