.table-container {
   overflow-x: auto; /* Enable horizontal scrolling on small screens */
}

table {
   width: 100%;
   border-collapse: collapse;
}

th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}

th {
   background-color: green;
}

/* Style rows based on conditions */
.bg-red {
   background-color: #ffcccc;
}

.bg-green {
   background-color: #ccffcc;
}
