<section id="contact">
    <div class="contact-box">
      <div class="contact-links">
        <h2>CONTACT</h2>
        <div class="links">
          <div class="link">
            <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
          </div>
          <div class="link">
            <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
          </div>
          <div class="link">
            <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
          </div>
          <div class="link">
            <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
          </div>
        </div>
      </div>
      <div class="contact-form-wrapper">
        <form [formGroup]="details">
          <div class="form-item">
            <input type="text" name="sender" required formControlName="name"> 
            <label>Name:</label>
          </div>
          <div class="form-item">
            <input type="text" name="email" required formControlName="number">
            <label>Contact Number:</label>
          </div>
          <div class="form-item">
            <input type="email" name="email" required formControlName="email">
            <label>Email:</label>
          </div>
          <div class="form-item">
            <textarea class="" name="message" required formControlName="message"></textarea>
            <label>Message:</label>
          </div>
          <button class="submit-btn">Send</button>  
        </form>
      </div>
    </div>
  </section>