<div class="row mt-2">
    <div class="col-md-4">
        <div class="main">
            <div class="profile" style="width: 18rem;">
               
                <img [src]="profile" class="card-img-top" alt="...">
                  
            </div>
            <div class="nav-self">
                <ul>
                    <li><a href="">Setting</a></li>
                    <li><a href="">Change Pin</a></li>
                    <li><a  >Change Password</a></li>
                    <li><a href="">View </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="main">
            <div *ngIf="isProfile">
                <h2>IDENTITY</h2>
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-pen fa-xs edit"></i>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td style="text-transform: uppercase;">{{customerInfo.firstName}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>{{customerInfo.email}}</td>
                                </tr>
                                <tr>
                                    <td>Number</td>
                                    <td>:</td>
                                    <td>{{customerInfo.number}}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>:</td>
                                    <td>{{customerInfo.address}}</td>
                                </tr>
                               

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="changePassword" *ngIf="ischangePass">
                <div class="main">
                    <h2>Change Password</h2>
                    <div class="card">
                        <div class="card-body">
                            
                           
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>