<div class="row mt-2">
    <div class="col-md-4">
        <div class="main">
            <div class="profile" style="width: 18rem;">
               <div *ngIf="profile">
                <img [src]="profile" class="card-img-top" alt="...">
               </div>
               <div *ngIf="!profile">
                <img src="../../../assets/images/7d34d9d53640af5cfd2614c57dfa7f13.png" alt="">
               </div>
                
                  
            </div>
            <div class="nav-self">
                <ul>
                    <li (click)="viewLoans()"><a >View Loans</a></li>
                    <li><a >Change Pin</a></li>
                    <li><a  >Change Password</a></li>
                    <li><a >View </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="main">
            <div *ngIf="isProfile">
                <h2>IDENTITY</h2>
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-pen fa-xs edit"></i>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td style="text-transform: uppercase;">{{customerInfo.firstName}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>{{customerInfo.email}}</td>
                                </tr>
                                <tr>
                                    <td>Number</td>
                                    <td>:</td>
                                    <td>{{customerInfo.number}}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>:</td>
                                    <td>{{customerInfo.address}}</td>
                                </tr>
                               

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="changePassword" *ngIf="isViewLoans">
                <div class="main">
                    <h2>Loans</h2>
                    <div >
                        <div class="card">
                            
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>

    </div>
</div>