<div class="main" *ngIf="isDataAvailable">
    <h3 style="text-align: center; font-weight: bold;">AGREEMENT FOR HIRE-PURCHASE OF A MOBILE PHONE</h3>
    <h5 style="text-align: center; font-weight: bold;">Applicable only for Mobile finance</h5>

    <div class="content">
        <p style="font-size: 15px;">
            This Agreement is executed on{{ data.loanDate?.purchaseDate || 'NA' }}, at {{ data.findShopPlace?.address?.district || 'NA' }}, {{ data.findShopPlace?.address?.state || 'NA' }}
            as specified in the Schedule annexed hereto,
            <br>
            <span style="font-weight: bold;">BETWEEN:</span> <br>
            <span style="font-weight: bold;"> PARTIES:</span> <br>
            <span style="font-weight: bold;">FIRST PARTY:</span>
            <br>
            Uphar Mobile Finance Service, a company registered under the relevant laws of Uttar Pradesh, India, having
            its registered office at Shahjhanpur Uttar Pradesh, herein represented by [Authorized Representative], hereinafter referred
            to as "the Company".
            <br>
            <span style="font-weight: bold;">AND</span>

            <span style="font-weight: bold;">SECOND PARTY:</span>
            <br>
           <span style="text-transform: capitalize; font-weight: bold;"> {{data.customerPlace.firstName || 'NA'}}</span>, resident of  {{data.customerPlace.address}} , {{data.customerPlace.district}}, Uttar Pradesh, India, hereinafter referred to as "the
            Borrower".

            WHEREAS: <br>

            The Borrower has approached the Company for financial assistance to purchase Mobile and has
            agreed to enter into this Agreement under the terms and conditions set forth herein.
        </p>
        <h3 style="font-weight: bold;">NOW IT IS AGREED BETWEEN THE PARTIES AS FOLLOWS:</h3>
        <ol>
            <li>The owner will let and the hirer will take on hire the Mobile phone.</li>
            <li>The owner has delivered the said phone to the hirer and has allowed the hirer to use the said phone in
                the usual manner.</li>
            <li>In consideration of the delivery of the said phone to the hirer, the latter has paid in advance a sum of
                Rs. as the first installment on hire (the receipt whereof the owner hereby acknowledges) and will
                punctually pay to the owner at his place the sum of Rs. every calendar month by way of rent for the hire
                of the said phone, the first payment to be made on the 01th day of Jan and each subsequent payment on
                the 01th day of every succeeding month.</li>
            <li>
                <ol type="i">
                    <li>During the continuance of hiring, the hirer shall:
                        <ol type="a">
                            <li>Not sell, assign, pledge, mortgage, underlet, lend or part with the possession of the
                                said phone and not allow the said phone to be used by anybody else or kept or detained
                                or run for the use of any other person.</li>
                            <li>Keep the said phone insured and kept insured so long as the hiring shall continue in the
                                joint names of the owner and the hirer against all risks, and the hirer shall pay all
                                the premiums payable to the insurance company. On the hirer becoming the owner of the
                                said phone under the terms of this agreement, the owner will transfer to the hirer the
                                benefit of any insurance policy then current relating to the said phone.</li>
                            <li>Make good to the owner all damages to the said phone (fair wear and tear excepted)
                                and pay the owner the full value of the said phone in the event of its total loss.
                                iv. Not use or permit or suffer the said phone to be used in contravention of any law
                                for the time being in force.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                If the hirer shall duly observe and performs all the conditions herein contained and on
                his part to be observed and performed and shall pay to the owner the sum specified in
                clause 3 hereof, together with all other sums if any payable by him to the owner under
                the provisions of this Agreement, then the hiring shall come to an end and the said
                phone shall become the property of the hirer and the owner will assign and make over
                all his rights and interest in the same to the hirer, but the hirer shall have the option of
                purchasing the said phone at any time during the period of hiring by paying in one lump sum the balance
                of all the hire
                hereinbefore mentioned and other evences incurred by the owner. Until all such payments as aforesaid
                have been made, the said phone shall remain the property of the owner.

            </li>
            <li>
                If the hirer shall make default in payment of any monthly sum payable hereunder for
                01th days after the same have become due or shall fail to observe or perform any of the
                terms and conditions of this agreement, the owner may without prejudice to his claim
                for arrears of hire or damages (if any) for breach of this agreement block the phone
                completely by virtue of the software inducted in the phone or forthwith terminate the
                hiring and retake physical possession of the said phone himself or through his agents or
                servants and the hirer shall not object to the retaking of possession of the said phone by
                the owner or his agents or servants and/or by written notice to the hirer determine this
                agreement and the hiring hereby constituted. On such termination, the hirer shall
                immediately return the said phone to the owner at his place of address for the time
                being and the hirer shall pay the owner a sum of Rs. every month until the said phone is
                returned to the owner.
            </li>
            <li>
                No neglect, delay or indulgence on the part of the owner in enforcing any terms or
                conditions of this agreement shall prejudice the rights of the owner hereunder.
                8.The agreement is personal to the hirer and the rights of the hirer shall not be assignable
                or chargeable by him in favor of a third party.
            </li>
            <li>
                In the event the hiring being determined by the hirer or by the owner under clause 5
                hereof, the hirer shall forthwith return the said phone to the owner at the hirer's
                expense. The determination of the hiring as aforesaid shall not affect or prejudice any
                claim the owner may have against the hirer for arrears of hire payments or for damages
                for breach of this agreement or his right to enforce such claim by action or otherwise.
            </li>
            <li>
                The owner shall have access to the following features of the phone till the entire amount is not paid:
                <ol type="i">
                    <li>
                        The owner will be the technical device owner and device admin phone.
                    </li>
                    <li>The owner can completely lock the device remotely.</li>
                    <li>The owner can remotely disable/enable camera, disable/enable outgoing calls, disable/enable
                        file transfer, disable/enable Debugging, disable/enable Reset of the phone from settings.</li>
                    <li>The owner can remotely set/unset the Lock Screen PIN Password of the phone.</li>
                    <li>The owner will have remote access to phone number and its network, as provided by the official
                        Google API, been used in the phone.</li>
                    <li>The owner can remotely request for the last known location stored on the device.</li>
                    <li>The owner can remotely auto-play an audio file pre-downloaded on the phone.</li>
                    <li>The owner can send auto-send EMI reminder messages on the phone.</li>
                    <li>The FRP (Factory reset protection) account in the device will belong to the owner of the phone.
                    </li>
                    <li>The owner can give remote command to restart the phone.</li>
                    <li>The owner can remotely set the wallpaper on the phone.</li>
                    <li>The owner will have access to user SMS permission, location, contacts, permission, phone permission
                        of the phone.</li>
                    <li>The owner will be able to perform all the above controls remotely either through official Google
                        API's and/or through push notification and/or through SMS's.</li>
                    <li>For a seamlessly managed zero-touch-enrolled device, it's crucial to ensure proper
                        provisioning. In the event of a provisioning issue, the device may require a reset. To safeguard
                        against potential data loss, users are strongly encouraged to maintain regular backups of their
                        data in Google Cloud.</li>

                </ol>
            </li>
            <li>
                The agreement shall determine if the hirer commits any act of bankruptcy or makes any
                arrangement with his creditors or on presentation of a petition in the court for
                adjudicating the hirer as an insolvent or on the appointment of a receiver of the
                properties of the hirer or if an application is made by any creditor or other person
                against the hirer for the attachment of the said phone.
            </li>
            <li>
                Any dispute or claim of any nature relating in any way to your use of any Services
                covered under this Agreement will be adjudicated through arbitration, by a sole
                arbitrator to be appointed mutually by the Developer and the Creditor within the 30 days
                of the dispute. The seat shall be decided mutually by the parties.
            </li>
            <li>
                The parties hereby admit that this agreement has been fully explained to them and they
                have understood the meaning of all the clauses of this agreement and they have signed
                this agreement with full understanding of the obligations herein.
            </li>
        </ol>

        <p>IN WITNESS WHEREOF, the parties have hereunto set and subscribed their hands on the date
            and year above mentioned.</p>


        <h3 style="text-align: right;">signed and delivered by the within named owner</h3>
        <br>
        <br>
        <h3 style="text-align: right;">signed and delivered by the within named hirer</h3>
        <br>
    </div>
</div>
