<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="message-box _success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h2> Congratulations! Your Mobile Device Financing is Confirmed! </h2>
                <p> Best wishes from our team! We'll reach out <br>
                    with further details very soon. </p>


            </div>
        </div>
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-md-4">
        <button class="btn btn-link btn-block" (click)="downloadTermsCondition()">Download Terms & Conditions</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-link btn-block" (click)="downloadAggrement()">Download Agreement</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-link btn-block" (click)="downloadGaurntorAgreement()">Download Guarantor Condition</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-link btn-block" (click)="downloadInvoiceForCompany()">Download Invoice</button>
    </div>
</div>


      