<div class="header">
    <div class="row">
        <div class="col-md-2" >
            <h3 class="heading"><a routerLink="/dashboard/setting">DASHBOARD</a></h3>
        </div>
        
    </div>
    <div class="wallet">
      <span class="symbol" (click)="checkAmount()">&#8377;&nbsp;</span>
        <span class="amount"> {{walletBalance}}</span>
    </div>
</div>
<div class="row">
    <input type="checkbox" id="sidebar-toggle" />
        <label for="sidebar-toggle" class="toggle-btn" style="color: rgb(201, 71, 71);">&#9776;</label>
    <div class="col-md-2 sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 main-cont ">
        <router-outlet />
    </div>
</div>