

<header class="header">
    <div class="logo">
        <a class="navbar-brand" routerLink="/dashboard/home" style="margin-left: 10px;">
            DASHBOARD
        </a>
    </div>
    <div class="nav-links">
        <span style="margin-left: 5px;" (click)="checkAmount()">&#8377;</span>
        <span> {{dataSharing.wallet}}</span>
        <a class="navbar-brand" routerLink="/dashboard/profile"><img src="../../../assets/svg/user-regular.svg" alt="" width="30px" height="30px" style="color: wheat;"></a>
    </div>
</header>

<div class="row">
    <input type="checkbox" id="sidebar-toggle" [(ngModel)]="isSidebarOpen" #sidebarToggle />
    <label for="sidebar-toggle" class="toggle-btn" style="color:#fff;">&#9776;</label>

    <div class="col-md-2 sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 main-cont ">
        <router-outlet />
    </div>
</div>

