<div class="card-s">
    <div class="card1">
        <img src="../../../assets/images/Rohit_Gurunath_Sharma.jpg" alt="" class="img" width="90px" height="90px">
    </div>
    <hr class="hr">
    <div class="card">
        <!-- <hr class="hr1"> -->
        <div class="row-self">
            <div class="col-self">
                <img src="../../../assets/svg/barcode-solid.svg" width="15px" height="15px">
                <div style="display: inline; margin-left: 10px; text-align: center;">
                    <span style="font-size: 10px; font-weight: bold; color: blue; margin-top: 2px;">IMEI</span>
                </div>
                <br>
                <h5>4525525252525</h5>
            </div>
            <div class="col-self">
                <img src="../../../assets/svg/calendar-days-regular.svg" width="15px" height="15px">
                <div style="display: inline; margin-left: 10px; text-align: center;">
                    <span style="font-size: 10px; font-weight: bold; color: blue; margin-top: 2px;">DATE</span>
                </div>
                <br>
                <h5>25-12-2024</h5>
            </div>
        </div>
        <div class="row-self">
            <div class="col-self">
                <img src="../../../assets/svg/barcode-solid.svg" width="15px" height="15px">
                <div style="display: inline; margin-left: 10px; text-align: center;">
                    <span style="font-size: 10px; font-weight: bold; color: blue; margin-top: 2px;">Amount</span>
                </div>
                <br>
                <h5>4525</h5>
            </div>
            <div class="col-self">
                <img src="../../../assets/svg/calendar-days-regular.svg" width="15px" height="15px">
                <div style="display: inline; margin-left: 10px; text-align: center;">
                    <span style="font-size: 10px; font-weight: bold; color: blue; margin-top: 2px;">Current Credit</span>
                </div>
                <br>
                <h5>255</h5>
            </div>
        </div>
    </div>

<br>
    <div class="card">
       <!-- <h6 style="text-align: center; color: blue;">Customer Info</h6> -->
       <span style="display: block; text-align: center; font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: blue;">Customer Info</span>
        <div class="row-self">
            <div class="col-self">
                <img src="../../../assets/svg/user-regular.svg" width="15px" height="15px">
                <div style="display: inline; margin-left: 10px; text-align: center;">
                    <span style="font-size: 10px; font-weight: bold; color: blue; margin-top: 2px;">NAME</span>
                </div>
                <br>
                <h5>Rahul</h5>
            </div>
            <div class="col-self">
                <img src="../../../assets/svg/mobile-screen-button-solid.svg" width="15px" height="15px">
                <div style="display: inline; margin-left: 10px; text-align: center;">
                    <span style="font-size: 10px; font-weight: bold; color: blue; margin-top: 2px;">NUMBER</span>
                </div>
                <br>
                <h5>255252525</h5>
            </div>
        </div>
    </div>
</div>