<form [formGroup]="addDevice">
    <h1>ADD Device</h1>
    <select name="" id="" formControlName="brand">
        <option value="0">Select A brand</option>
        <option  *ngFor="let brand of Brand" value={{brand}}>{{brand}}</option>
    </select>
    <label for="model">Model</label>
    <input type="text" id="model" style="text-transform: uppercase;" placeholder="Enter model Name" formControlName="model">

    <label for="dpPrice">DP Price</label>
    <input type="number" id="dpPrice" placeholder="Enter dealer price" formControlName="dpPrice"  >

    <label for="img">Upload Image</label>
    <input type="file" id="img">

    <label for="margin">Margin</label>
    <input type="number" id="margin" placeholder="Margin count in % " formControlName="margin" >
    <label for="Intrest">Intrest</label>
    <input type="number" formControlName="interest" placeholder="Intrest count in % " >

    <label for="file">File charge</label>
    <input type="number" formControlName="fileCharge" placeholder="File charge count in % ">

    <label for="Intrest">downPayment</label>
    <input type="number" id="Intrest" formControlName="downPayment" placeholder="down payment count in %">



    <button class="btn btn-success" type="submit" (click)="submit()">Submit</button>
</form>










<!-- <label for="name">Name:</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <br />

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" formControlName="email" />
    <br />
    <label for="number">Number:</label>
    <input type="number" name="number" id="number" formControlName="number" />
    <br />

    <label for="shop">Shop Name:</label>
    <input type="text" name="shop" id="shop" formControlName="shopName" />
    <br />

    <label for="password">Password:</label>
    <input type="password" name="password" formControlName="password" />
    <br />

    <label for="password">Confirm Password:</label>
    <input type="password" name="password" formControlName="confirmPassword" />
    <br /> -->