<div class="body">
    <div class="main">

        <div class="head">
            <div class="col">
                <div class="row1">
                    <div class="logo">
                        <img src="../../../assets/images/uchar-removebg-preview.png" width="100px" height="100px">
                    </div>
                    <div class="bname">
                        <span style="text-transform: uppercase;color: green; font-size: 20px;">Uphar Mobile <br> finance
                            service</span> <br>
                        <span>Finance Solutions</span>
                    </div>
                </div>
                <hr class="line-left">
            </div>
            <div class="col">
                <div class="cont">
                    <span> Uttar Pradesh</span>
                    <br>
                    <span>Shahjhanpur</span>
                    <br>
                    <span>Kant pincode:242001</span>
                </div>
                <hr class="line">
            </div>
        </div>

        <div class="content" *ngIf="isDataAvailable">
            <div class="info">
                <p>Guarantor Name: &nbsp; {{userData.name}}
                </p>
                <div class="lineunder">
                    <hr>
                </div>
                <!-- <hr class="underline"> -->
                <p>Guarantor Number:&nbsp;{{userData.number}}</p>
                <div class="lineunder">
                    <hr>
                </div>
               
                <p>Guarantor Aadhar:&nbsp;{{userData.aadharNumber}}</p>
                <div class="lineunder">
                    <hr>
                </div>
                <p>Guarantor Address:&nbsp;{{userData.address}}</p>
                <div class="lineunder">
                    <hr>
                </div>
                
            </div>
            <!-- <div class="profile">
                <div class="card m-auto" style="width: 12rem;">
                    <img [src]="profile" class="card-img-top" alt="...">
                    <img src="../../../assets/images/Rohit_Gurunath_Sharma.jpg" alt="" srcset="">
                  </div>
             
            </div> -->
        </div>


        <div class="termsConditon">
            <h1 style="text-align: center;">गारंटर शर्तें और नियम</h1>
            <ul>
                <li>
                    <p style="font-size: 15px;">
                        गारंटर यह स्वीकार करता है कि वह मोबाइल फोन फाइनेंस योजना के समय पर किस्तों के भुगतान की गारंटी करता है।</p>
                </li>
                <li>
                    <p style="font-size: 15px;">
                        यदि ऋणी नियत तारीख से पहले किस्त नहीं भरता है, तो गारंटर शेष राशि भरने के लिए जिम्मेदार होगा।</p>
                </li>
        
                <li>
                    <p style="font-size: 15px;">
                        यदि ऋणी दो लगातार किस्तों का भुगतान नहीं करता है, तो गारंटर को मोबाइल फोन बिना किसी मूल्य का दावा किए लौटाना होगा।</p>
                </li>
                <li>
                    <p style="font-size: 15px;">
                        गारंटर स्वीकार करता है कि मोबाइल फोन की कोई भी हानि, चोरी, या नुकसान उन्हें किस्तों के भुगतान से बाहर नहीं करेगी।</p>
                </li>
                <li>
                    <p style="font-size: 15px;">
                        मैं प्रमाणित करता हूं कि ऊपर दी गई जानकारी सत्य है, और मैं इन शर्तों और नियमों का पालन सुनिश्चित करने के लिए पूरी जिमेदारी लेता हूं।</p>
                </li>
            </ul>
        </div>
        
        <hr>

        <div class="sign">
            signature
        </div>
    </div>
</div>
