<div class="main">
  <div class="row-slef">
    <div class="col-self-1">
      <form [formGroup]="employeeRegister" (ngSubmit)="register()">
        <h2>Employee Register</h2>
        <label for="userid">Name</label>
        <input type="text" id="name" name="userid" formControlName="name">

        <label for="number">Mobile Number</label>
        <input type="number" id="number" name="number" formControlName="number">


        <label for="emiid">Email</label>
        <input type="email" id="emiid" name="emiid" formControlName="email">

        <label for="pin">Transection Pin</label>
        <input type="number" id="pin" name="pin" formControlName="pin">
        <div *ngIf="employeeRegister.controls['pin'].invalid && employeeRegister.controls['pin'].touched">
          <div *ngIf="employeeRegister.controls['pin'].errors?.['required']">
            <label class="text-danger"> IMEI Number is required</label>
          </div>
          <div *ngIf="employeeRegister.controls['pin'].errors?.['pattern']">
            <label for="" class="text-danger"> Pin can not bigger thin 4 digit</label>
          </div>
        </div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password">
        <label for="cPassword">Confirm Password</label>
        <input type="password" id="cPassword" name="cPassword" formControlName="confirmPassword">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="col-self-2">
      <div class="table-container">
        <h1 style="text-align: center; color: green;">EMPLOYEE</h1>
        <table class="table" *ngIf="isDataAvailable">
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Active</th>
            <th>Role</th>
            <th>Wallet Amount</th>
          </tr>
          <tr *ngFor="let user of data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.number }}</td>
            <td><button class="btn btn-primary" (click)="changeStatus(user)"> {{user.active ? 'Active' :
                'Inactive'}}</button></td>
            <td>{{ user.role }}</td>
            <td>
              <div *ngIf="active">
                <button class="btn btn-primary" (click)="openDialog(user)">Check Balance</button>
              </div>

            </td>
          </tr>
        </table>
      </div>




    </div>
  </div>

</div>