
.main {
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    height: 87vh;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input, textarea,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
  
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .row-slef{
    display: flex;
    /* flex-direction: row; */
  }
  .col-self-1{
width: 30vw;
height: 86vh;
border: 1px solid grey;

  }

  .col-self-2{
    margin-left: 1px;
    width: 56vw;
    border: 1px solid grey;
      }

      .table-container {
        width: 100%;
        overflow: auto;
        margin-top: 10px;
        min-height: 85vh;
     }
     
     .table {
        width: 100%;
        border-collapse: collapse;
     }
     
     th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
     }
     
     @media screen and (max-width: 600px) {
        .table th, .table td {
            padding: 4px;
        }
        .main{
          overflow: auto;
        }
        .row-slef{
          flex-wrap: wrap;

        }
        .col-self-1{
          width: 100%;
          height: min-content;
        }
        .col-self-2{
          width: 100%;
        }
     }