
<div class="body">

    <form [formGroup]="setteWallet" (ngSubmit)="setteWalletMethod()">
        <h2>SETTLE AMOUNT TO EMPLOYEE</h2>
       

        <label for="method">Payment To</label>
        <select id="method" formControlName="user_id" >
            <option value="0">Select User</option>
            <option *ngFor="let user of data" value={{user.number}}>{{user.name}} {{user.number}}</option>
        
        </select>

        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" formControlName="amount"   >
        

        <label for="pin">Transection Pin</label>
        <input type="password" id="pin" name="pin"  formControlName="pin" > 

        <button type="submit">Pay</button>
    </form>
</div>
