<div class="container">
   
    <div class="card">
        <h1 style="text-align: center;">SETTLE WALLET AMOUNT</h1>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
                <div class="self" (click)="toAdmin()">
                    <div class="img-div" >
                    <img src="../../../assets/svg/user-solid.svg" style="width:32px;">
                    </div>
                    <span>To Admin</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
                <div class="self" (click)="toEmployee()">
                    <div class="img-div" >
                    <img src="../../../assets/svg/user-tie-solid.svg" style="width:32px;">
                    </div>
                    <span >To Employee</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
                <div class="self" (click)="toBank()">
                    <div class="img-div" >
                    <img src="../../../assets/svg/building-columns-solid.svg" style="width:32px;">
                    </div>
                    <span >To Bank</span>
                </div>
            </div>
        </div>
    </div>
</div>





