body{
    margin-top:20px;
    background:#FAFAFA;
  }
  .order-card {
    color: #fff;
  }
  
  .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }
  
  .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }
  
  .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }
  .bg-c-red {
    background: linear-gradient(45deg,#38020b,#d20023);
  }

  .bg-c-dark-green {
    background: linear-gradient(45deg, #333507, #170202);
  }
  .bg-c-lite-green {
    background: linear-gradient(45deg, #d9e03b, #085312);
  }

  .bg-c-lite-blues {
       background: linear-gradient(45deg, #62e03b, #1d0853);
  }
  .bg-c-lite-green-blue {
    background: linear-gradient(45deg, #F57F17, #6f1fd5);
  }

  
  .bg-c-lite-purple-blue {
    background: linear-gradient(45deg, #e10bb9, #1f6cd5);
  }
  
  
  
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
    padding: 25px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  
  