

form {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {

  padding: 10px 15px;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}



.row-self {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.row-self1{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.nav-self {
  width: 49%;
  border: 1px solid green;
  background-color: #abccab;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.main{
  height: 86vh;
  /* overflow: hidden; */
}
.side-cont{
  border: 1px solid grey;
  width:30vw;
  height: 86vh;
  padding-left: 4px;
  border-radius: 10px;
}
.right-cont{
  width: 56vw;
  margin-left: 5px;
  height: 86vh;
  overflow: auto;

}
.active{
  background-color: rgb(104, 104, 232);
}



.table-container {
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  min-height: 85vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .table th, .table td {
      padding: 4px;
  }
  .row-self1{
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 100%;
  }
  .main{
    overflow: auto;
  }
  .side-cont{
    width: 100%;
  }
  .right-cont{
    width: 100%;
    padding: 5px 5px;
  }
}

/* CSS for styling the table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
