<div class="half">

    <div class="nav-self">
        <input type="text" id="first" name="first" placeholder="Enter Brand Name"  [(ngModel)]="brandName" style="text-transform: uppercase;" />
    </div>
    <div class="nav-self">
        <button class="btn btn-success" (click)="saveBrand()">SAVE</button>
    </div>
</div>
<hr class="line">
<div class="data">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni assumenda nisi reprehenderit non vero ipsa
        dignissimos eum, consequatur ratione laborum nesciunt, repellendus excepturi dolor nemo et doloribus facere
        temporibus officiis veritatis. Eveniet quo vitae eligendi nisi consectetur vero facere, pariatur, voluptatum
        commodi quibusdam nam ut quam, cumque corporis tenetur assumenda?</p>
</div>