.body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.1;
    min-height: calc(100vh - 45px);
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;

    /* overflow-y: scroll !important; */
  }
  
  .main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
  }
  
  h1 {
    color: #4caf50;
  }
  
  label {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: #555;
    font-weight: bold;
  }
  
  #pass {
    color: red;
    font-size: 12px;
  }
  
  input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    width: 100%;
    font-size: 16px;
  }
  
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card{
  width: 50vw;
  margin: auto;
  padding:50px 50px;
  box-sizing: border-box;
}


form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  border-color: blue;
}


  @media screen and (max-width: 600px) {
    .main{
        width: 96vw;
    }
    .card{
      width: 96vw;
      padding:10px 10px;
    }
  }


