<div class="card" *ngIf="isVerifyUser">
  <div>
    <h2 style="text-align: center;">Verify User</h2>
    <form [formGroup]="verifyUserData" >
      <label for="number">Enter Mobile Number</label>
      <input type="number" id="number" name="number" placeholder="Enter Mobile number" formControlName="number" [readOnly]="otpSection">
      <button type="submit" class="btn btn-outline-success" (click)="verifyUser()" *ngIf="!otpSection">Check User</button>
      <div *ngIf="otpSection">
        <label for="number">Enter OTP </label>
        <input type="number" id="otp" name="otp" placeholder="Enter OTP " formControlName="otp">
        <button type="submit" class="btn btn-outline-success" (click)="verifyOtp()">Verify OTP</button>
      </div>
      
    </form>
  </div>
</div>


<div *ngIf="isCustomerDataAvailable">
<form  [formGroup]="gaurantorDataForm">
  <h1>Guarantor Form</h1>
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" formControlName="name"  />
  <br>

  <label for="adhar">Adhar Number:</label>
  <input type="number" name="adhar" id="adhar" formControlName="adharNumber" />
  <br>
  <label for="number">Number:</label>
  <input type="number" name="number" id="number" formControlName="number" />
  <br>

  <label for="shop">Address:</label>
  <input type="text" name="shop" id="shop" formControlName="address" />
  <br>
  <button type="submit" (click)="registerGaurantour()">Submit</button>
</form>
</div>


<div class="body" *ngIf="isSelldevice">
  <div class="main">

    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Sell Device</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form [formGroup]="sellDeviceForm" (ngSubmit)="sellDevice()">
              <div class="input_field select_option">
                <label for="brand">Select a Brand</label>
                <select id="brand" (change)="onBrandSelected($event)" formControlName="brandName">
                  <option value="1">Select a Brand</option>
                  <option *ngFor="let name of brandNames" [value]="name">{{ name }}</option>
                </select>
              </div>

              <div class="input_field select_option">
                <label for="model">Select Model</label>
                <select id="model" style="margin-top: 5px;" (change)="onModelSelected($event)"
                  formControlName="modelName">
                  <option value="1">Select Model</option>
                  <option *ngFor="let name of models" [value]="name">{{ name }}</option>
                </select>
              </div>

              <div class="input_field">
                <label for="imei1">IMEI Number1</label>
                <input type="text" id="imei1" name="imei1" placeholder="IMEI Number1" formControlName="imei1" />
                <div *ngIf="sellDeviceForm.controls['imei1'].invalid && sellDeviceForm.controls['imei1'].touched">
                  <div *ngIf="sellDeviceForm.controls['imei1'].errors?.['required']">
                    <label class="text-danger"> IMEI Number is required</label>
                  </div>
                  <div *ngIf="sellDeviceForm.controls['imei1'].errors?.['pattern']">
                    <label for="" class="text-danger"> Enter a Valid IMEI Number</label>
                  </div>
                </div>
              </div>

              <div class="input_field">
                <label for="imei2">IMEI Number2</label>
                <input type="text" id="imei2" name="imei2" placeholder="IMEI Number2" formControlName="imei2" />
                <div *ngIf="sellDeviceForm.controls['imei2'].invalid && sellDeviceForm.controls['imei2'].touched">
                  <div *ngIf="sellDeviceForm.controls['imei2'].errors?.['required']">
                    <label class="text-danger"> IMEI Number is required</label>
                  </div>
                  <div *ngIf="sellDeviceForm.controls['imei1'].errors?.['pattern']">
                    <label for="" class="text-danger"> Enter a Valid IMEI Number</label>
                  </div>
                </div>
              </div>

              <div class="input_field">
                <label for="mrp">MRP</label>
                <input type="number" id="mrp" name="mrp" placeholder="MRP"
                  formControlName="mrp" readonly />
                  <div *ngIf="mrpSection">
                    <span style="color:green">   Real MRP {{deviceData.mrp}}</span>
                  </div>
                  
              </div>

              <div class="input_field">
                <label for="fileCharge">File Charge</label>
                <input type="number" id="fileCharge" name="fileCharge" placeholder="File Charge"
                   formControlName="fileCharge" readonly />
              </div>
              <div class="input_field">
                <label for="intrest">Intres</label>
                <input type="number" id="intrest" name="intrest" placeholder="File Charge"
                   formControlName="interest" readonly />
              </div>

              <div class="input_field">
                <label for="tamount">Total Amount</label>
                <input type="number" id="tamount" name="total" placeholder="Total Amount"
                  formControlName="totalAmount" readonly />
              </div>

              <div class="input_field">
                <label for="sellAmount">Discount</label>
                <input type="number" id="sellAmount" name="discount" placeholder="Sell Amount" 
                  formControlName="discount" (input)="discountInput($event)" />
                <div *ngIf="showMessage">
                  <label style="font-size: 15px; color: red;">The amount should be less than total amount</label>
                </div>
              </div>

              <div class="input_field">
                <label for="downPayment">Down Payment</label>
                <input type="number" id="downPayment" name="downPayment" placeholder="Down Payment"
                 (input)="dowmPaymnetInput($event)"
                  formControlName="downPayment" />
                <div *ngIf="invalidDownPayment">
                  <label for="downPayment" style="color: red;">Down Payment must be greater than 40% of total Amount
                  </label>
                </div>
              </div>

              <div class="input_field">
                <label for="financeAmount">Finance Amount</label>
                <input type="number" id="financeAmount" name="financeAmount" placeholder="Finance Amount"
                  formControlName="financeAmount" readonly />
              </div>

              <div class="input_field select_option">
                <label for="emi">Select EMI</label>
                <select id="emi" (change)="onEmiSelected($event)" formControlName="emi">
                  <option value="0">Select EMI</option>
                  <option *ngFor="let emi of emis" [value]="emi">{{ emi }}</option>
                </select>
              </div>

              <div class="input_field">
                <label for="emiAmount">EMI Amount</label>
                <input type="number" id="emiAmount" name="emiAmount" placeholder="EMI Amount"
                   (input)="onEmiAmount($event)" formControlName="emiAmount" readonly />
                <div *ngIf="emiLabel">
                  <label for="downPayment" style="color: red;">Emi amoint should be greater then 1000</label>
                </div>
              </div>

              <!-- <input class="button" type="submit" value="Register" /> -->
              <div class="wrap">
                <button type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>