.table-container {
     /* Enable horizontal scrolling */
    width: 100%; /* Ensure the container takes full width of the screen */
    overflow: hidden;
    margin-top: 50px;
}

.filter{
    background-color:#f0e0e0;
    width: 60vw;
    position: fixed;
    right: 5px;
    height: 35px;
    padding: 5px;
}

.table {
    /* Your existing table styles */
    width: auto; 
    white-space: nowrap; /* Prevent line breaks within table cells */
    font-size: small;
    border: 1px solid black;
}

.sr{
    width: 20px;
}
.brand{
    width: 80px;
}

.imei{
    width: 130px;
}
.model{
    width: 60px;
}
.mrp{
    width: 50px;
}
.fileCharge{
    width: 75px;
}
.total{
    width: 80px;
}
.sellamount{
    width: 70px;
}
.downpayment{
    width: 75px;
}
.financeAmount{
    width: 75px;
}
.emiamount{
    width: 60px;
}
.customernumber{
    width: 120px;
}
.emi{
    width: 40px;
}
.loanid{
    width: 150px;
}

.date{
    width: 80px;
}

td{
    /* font-weight: 160; */
    border: 1px solid black;
text-align: center;
}
th{
    border: 1px solid black;
    text-align: center;
}
.date-inp{
    width: 200px;
}
.row1{
    display: flex !important;
}
.number{
    display: flex;
    gap: 10px;
}
input{
    background:none;
    border: 1px solid gray;
    padding-left: 5px;
}

.btn-self{
    background-color: rgb(1, 25, 1);
    color: white;
    width: 60px;
}
@media screen and (max-width: 600px) {
   .table-container{
    overflow-x: auto !important;
    margin-top: 55px;
   }
  }




  