
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
}

/* Filter container */
.filter {
    background-color: #f9f9f9;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 580px;
}

/* Filter row */
.row1 {
    display: flex;
    align-items: center;
}

/* Date input */
.date-inp {
    margin-right: 10px;
}

/* Date input label */
.date-inp::before {
    content: attr(data-label) ":";
    margin-right: 5px;
}

/* Number input container */
.number {
    display: flex;
    align-items: center;
}

/* Number input label */
.number .text {
    margin-right: 5px;
}

/* Input box */
.inp-box {
    margin-right: 10px;
}

/* Search button */
.btn-self {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style for input fields */
input[type="date"],
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Style for search button */
.btn-self {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}



@media (max-width: 400px) {
    .header{
        margin-top: 40px;
    }
    .filter {
        max-width: 100%;
        left: 0px;
    }
    .row1 {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .date-inp {
        flex: 1;
        margin-right: 0px;
        margin-bottom: 0;
        display: inline-block;
    }
    .number {
        flex: 2;
    }
    .inp-box {
        flex: 1;
        margin-right: 10px;
        margin-bottom: 0;
        flex-direction: column;
    }
    .btn-self {
        flex: 1;
        width: auto;
        margin-bottom: 0;
    }
}
/* styles.css */

/* Table container */
.table-container {
    margin-top: 20px;
    overflow: auto;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header */
th {
    background-color: green;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Table data cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Alternate row background color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect on rows */
tr:hover {
    background-color: #ddd;
}

/* Button inside table cell */
td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
