
    <div class="header">
        <!-- Filter section -->
        <div class="filter">
           <form  [formGroup]="filterForm">
            <div class="row1">
                <div class="date-inp">
                    From:
                    <input type="date" formControlName="from">
                </div>
                <div class="date-inp">
                    To:
                    <input type="date" formControlName="to">
                </div>
                <div class="number">
                    <div class="text">Customer Number:</div>
                    <div class="inp-box">
                        <input type="number" formControlName="number">
                    </div>
                    <button class="btn-self" (click)="filterData()">Search</button>
                </div>
            </div>
           </form>
        </div>
    </div>
    



<div class="table-container">
    <table>
        <tr>
            <th>S.N</th>
            <th>Customer Number</th>
            <th>Customer Name</th>
            <th>Loan ID</th>
            <th>B Name</th>
            <th>Model</th>
            <th>IMEI</th>
            <th>MRP</th>
            <th>File Charge</th>
            <th>T Amount</th>
            <th>Discount</th>
            <th>D Payment</th>
            <th>F Amount</th>
            <th>EMI</th>
            <th>EMI Amu</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let mobile of filteredData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ mobile.customerNumber }}</td>
            <td>{{ mobile.customerName }}</td>
            <td>{{ mobile.loanId }}</td>
            <td>{{ mobile.brandName }}</td>
            <td>{{ mobile.modelName }}</td>
            <td>{{ mobile.imei1 }}</td>
            <td>{{ mobile.mrp }}</td>
            <td>{{ mobile.fileCharge }}</td>
            <td>{{ mobile.totalAmount }}</td>
            <td>{{ mobile.discount }}</td>
            <td>{{ mobile.downPayment }}</td>
            <td>{{ mobile.financeAmount }}</td>
            <td>{{ mobile.emi }}</td>
            <td>{{ mobile.emiAmount }}</td>
            <td>{{ mobile.purchaseDate  || 'NA' }}</td>
            <td>
                <button (click)="viewEmis(mobile)">
                    <img src="../../../assets/images/5373059.png" width="20" height="20" alt="">
                </button>
            </td>
        </tr>
    </table>
</div>