
<div class="body" *ngIf="!otpSection">
    <div class="container">
        <div class="card">
          <h2>Forget Password</h2>
          <form>
            <input type="number" id="username" name="username" placeholder="Username" *ngIf="!otpInp"  [(ngModel)]="number">
            <input type="number" id="password" name="password" placeholder="Enter Otp" *ngIf="otpInp" [(ngModel)]="otp">
            <a routerLink="/login">Back to Login</a>
            <button type="submit" (click)="getOtp()" *ngIf="!otpInp"> Get Otp</button>
            <button type="submit" (click)="verifyOtp()" *ngIf="otpInp">Verify Otp</button>
          </form>
        </div>
      </div>
    
    
</div>


<div *ngIf="otpSection">
  <div class="mainDiv">
    <div class="cardStyle">
      <form action="" method="post" name="signupForm" id="signupForm">
        
        <img src="" id="signupLogo"/>
        
        <h2 class="formTitle">
          Create New Password
        </h2>
        
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
        
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
      </div>
      
      <div class="buttonWrapper">
        <button type="submit" id="submitButton" (click)="validateSignupForm()" class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
         
        </button>
      </div>
        
    </form>
    </div>
  </div>

</div>





