<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
        <div class="self">
            <div class="img-div">
            <img src="../../../../assets/svg/user-tie-solid.svg" style="width:32px;">
            </div>
            <span >Block Employee</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
        <div class="self">
            <div class="img-div" (click)="blockUser()">
            <img src="../../../../assets/svg/user-solid.svg" style="width:32px;">
            </div>
            <span >Block User</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
        <div class="self">
            <div class="img-div">
            <img src="../../../../assets/svg/user-regular.svg" style="width:32px;">
            </div>
            <span >Block Customer</span>
        </div>
    </div>
</div>
