.body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.1;
    min-height: calc(100vh - 45px);
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;

    /* overflow-y: scroll !important; */
  }
  
  .main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
  }
  
  h1 {
    color: #4caf50;
  }
  
  label {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: #555;
    font-weight: bold;
  }
  
  #pass {
    color: red;
    font-size: 12px;
  }
  
  input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    width: 100%;
    font-size: 16px;
  }
  
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .otp {
    all: initial;
    position: relative;
    left: 183px;
    bottom: 33px; /* Add a 'top' value to ensure the position is correctly applied */
    padding: 0; /* Reset padding to ensure consistent sizing */
    margin: 0; /* Reset margin to ensure consistent spacing */
}
.verifyotp{
  margin: 0px;
}
.verify{
  all: initial;
    position: relative;
    left: 206px;
    bottom: 33px; /* Add a 'top' value to ensure the position is correctly applied */
    padding: 0; /* Reset padding to ensure consistent sizing */
    margin: 0;
}
.Verified{
  position: relative;
  left: 187px;
  bottom: 33px; /* Add a 'top' value to ensure the position is correctly applied */
  padding: 0; /* Reset padding to ensure consistent sizing */
  margin: 0;
  color: green;
}
  @media screen and (max-width: 600px) {
    .main{
        width: 96vw;
    }
  }
