<div class="body" *ngIf="true">

    <div class="main">
        <h2>Personal Details</h2>
        <form [formGroup]="customerRegistrationForm">
            <div>
                <label for="adhar">Adhar:</label>
                <input type="text" id="adhar" name="adhar" placeholder="Enter your Adhar Number"
                    formControlName="adharCardNumber">
                <button class="otp" (click)="sendAdharOtp()">Get Otp</button>
            </div>
            <div class="verifyotp" *ngIf="otpSectionAdhar">
                <label for="otp">Verify Otp</label>
                <input type="text" name="otpAdhar" id="otp" placeholder="Enter otp" required
                    formControlName="otpAdhar" />
                <button class="verify" (click)="verifyAdharOtp()" *ngIf="!verifiedAdhar">Verify</button>
                <span class="Verified" *ngIf="verifiedAdhar">Verified</span>
            </div>
            <label for="first">Name:</label>
            <input type="text" id="first" name="first" placeholder="First Name" formControlName="firstName" readonly />
            <label for="profilePicture">Upload Profile Picture</label>
            <input type="file" class="form-control" id="profilePicture" (change)="onProfilePictureSelected($event)"
                multiple accept="image/*">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" formControlName="email" required>
            <div>
                <label for="number">Number</label>
                <input type="number" name="number" id="number" placeholder="Number" required formControlName="number" />
                <button class="otp" (click)="sendOtp()">Get Otp</button>
            </div>
            <div class="verifyotp" *ngIf="otpSection">
                <label for="otp">Verify Otp</label>
                <input type="text" name="otp" id="otp" placeholder="Enter otp" required formControlName="otp" />
                <button class="verify" (click)="verifyOtp()" *ngIf="!verified">Verify</button>
                <span class="Verified" *ngIf="verified">Verified</span>
            </div>
           
            <label for="front">Upload Adhar Card Front</label>
            <input type="file" class="form-control" id="front" (change)="onAdharCardSelected($event)" multiple
                accept="image/*">

            <label for="back">Upload Adhar Card Back</label>
            <input type="file" class="form-control" id="back" (change)="onOtherDocumentSelected($event)" multiple
                accept="image/*">
            <div>
                <label for="pan">Pan Card:</label>
                <input type="text" id="pan" name="adhar" placeholder="Enter your Adhar Number"
                    formControlName="panCardNumber">
                <button class="otp" (click)="verifyPan()" *ngIf="!panverifyed">Verify Pan</button>
                <span class="Verified" *ngIf="panverifyed">Verified</span>
            </div>

            <label for="panCard">Upload Pan Card</label>

            <input type="file" class="form-control" id="panCard" (change)="onPanCardSelected($event)" multiple
                accept="image/*">
            <div class="wrap">
                <button type="submit" (click)="registerCustomer()">
                    Submit
                </button>
            </div>
        </form>
    </div>

</div>